body{
    background-color: #e9c46a;
    font-size: 125%;
}

hr{
    border-style: dotted none none none;
    border-color: #264653;
    border-width: 3px;
    width: 66%;
}

img{
    height: 200px;
    border-style: dashed;
    border-width: 5px;
    border-radius: 1000%;
}

h1{
    color: #2a9d8f;
}

h3{
    color: #2a9d8f;
}